@font-face {
	font-family: "Gilroy";
	src: url("../fonts/Gilroy-Bold.ttf") format("truetype");
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: "Gilroy";
	src: url("../fonts/Gilroy-Regular.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}




body {
	background-image: url(../img/background.jpg);

}

section {
	background-color: #0dcaf056;
}


.banner2 {
	min-height: 858px;
	max-height: 859px;
	background-image: url(../img/banners/banner_mobile3.jpg);
	background-position: center;
	background-size: cover;
	position: relative;
}

.copy-button {
	position: absolute;
    bottom: 5%;
    left: 6.5%;
    width: 87.5%;
   /*  border: solid red 1px; */
    height: 8%;
    cursor: pointer;

}

.banner {
	position: relative;

	width: 100%;
	height: 100vh;

}

.banner img {
	width: 100%;
	height: 100%;

}

#text-to-copy {
	display: none;
}

#text-to-copy2 {
	display: none;
}




.alert {
	position: absolute;
	top: -30%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 10px;
	background-color: #28a745;
	color: white;
	border-radius: 5px;
	z-index: 1000;
	transition: opacity 0.5s;
}

.montserrat{
	font-family: "Montserrat", sans-serif;
	font-optical-sizing: auto;
	font-weight: bold;
	font-style: normal;
  }

  .h2_navega{
	color: #0358A1;
	font-size: 1.4rem;
	margin: 0;
	
}

.alert.hide {
	opacity: 0;
}

.tipografia_gilb {
	font-family: "Gilroy", sans-serif;
	font-weight: bold;
}

.tipografia_gilr {
	font-family: "Gilroy", sans-serif;
	font-weight: normal;
}

.celeste {
	color: #00ffff;
}

.naranja {
	color: #ff8300;
}

.violeta {
	color: #ff00c3;
}

/*SECCION NAVEGA*/

.seccion_navega{
	background-color: white;
	
}

.porcentajes {
	border: blue 1px solid;
	height: 300px;
	margin-top: 25px;
}

.contendor_titulo_50{
	margin-bottom: 40px;
    display: flex;
    justify-content: start;
    padding-left: 14%;
	min-height: 12%;
}

.pasajes_50_porciento {

	width: 100%;
	

	margin-bottom: 13%;

}

.contenedor_titulo_50{
	width: 100%;
	height: 50px;
	
	background-image: url(../img/iconos/titulo_50.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;

}
.contenedor_titulo_30{
	width: 100%;
	height: 50px;
	
	background-image: url(../img/iconos/titulo_30.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;

}
.contenedor_titulo_20{
	width: 100%;
	height: 50px;
	
	background-image: url(../img/iconos/titulo_20.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;

}

.pasajes_50_porciento img {
	width: 100%;
	height: 100%;

}



.h3_paquetes {
	font-size: 1.2rem;
}

.titulos {
	color: whitesmoke;

	font-size: 2rem;

}

.titulos_span {
	color: whitesmoke;
	text-shadow: 2px 3px 1px #ff00c3;
	font-size: 2rem;

}

.subtitulos {
	color: whitesmoke;

	font-size: 1.5rem;

}

.seccion_pasajes {
	background-color: #ff8300;
	min-height: 200px;
}

.seccion_pasajes_bodegas {
	padding-bottom: 25px;
}

.contenedor_img_bodega {
	width: 100%;

	height: 255px;


}

.contenedor_img_bodega img {
	width: 100%;
	height: 100%;
}

.seccion_naranja{
	background-color: white;
}


/*-------------------------------------------------CARDS------------------------------*/

.upper_title {
	font-size: 1rem;
}

.card {
	border: none;
	box-shadow: 2px 2px 3px #00000024;
}

.card-body {
	display: flex;
	flex-direction: column;
	background-color: #0358a0;
	color: white;
	position: relative;
}



.contenedor_img img {
	height: 100%;
	width: 100%;
}

footer {
	background-color: rgb(39, 39, 39);
	color: whitesmoke;
	padding: 1%;
}

.seccion_cards {
	display: flex;
	align-items: center;
	justify-content: center;

}

.fa-star {
	color: rgb(255, 217, 0);

}

.btn_ver_mas {
	background-color: #0dcaf0;
	color: white;
}

.btn_ver_mas:hover {
	background-color: #ff00c3fd;
	color: white;
}

.banner_30{
	width: 100%;
	height: 800px;
	border: solid 1px red;
	margin-top: 5%;
	margin-bottom: 5%;
}

.precio_antes{
	text-decoration: line-through;
	color: rgb(226, 225, 225);
}
.precio_despues{
	color: #ff00c3;
	font-size: 2.5rem;
}

.card_tamaños{
	width: 90%;
	margin: 0 auto;
}

.contenedor_estrellas{
	margin-bottom: 2%;
}

.card-body ul {
	margin-top: 3%;
}


/*Swipper*/

.swiper-pagination-bullet {
	background-color: #ff0000; /* Cambia el color por el que prefieras */
	
  }
  
  /* Cambiar el color de fondo del bullet activo */
  .swiper-pagination-bullet-active {
	background-color: red; /* Cambia el color por el que prefieras */
	
  }

  .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
    bottom: var(--swiper-pagination-bottom, 10%);
    top: var(--swiper-pagination-top, auto);
    left: 0;
    width: 100%;
}

  .swiper-button-next{
	color: rgb(255, 255, 255);
	right: 0%;
	
  }
  .swiper-button-prev{
	color: rgb(255, 255, 255);
	left: 0%; /* Ajusta la posición a la izquierda */
   

	
  }

  .swiper-slide{
	padding: 8%;
  }

@media (min-width: 768px) and (max-width: 1199px) {

	.banner2 {
		min-height: 1199px;
		background-image: url(../img/banners/banner_mobile3.jpg);
		background-position: center;
		background-size: cover;
	}

	.contenedor_icono_valija{
		width: 20%;
	}
	
	.contenedor_icono_valija img{
		width: 100%;
	}

	.copy-button {
		position: absolute;
		bottom: 5%;
		left: 6.5%;
		width: 87.5%;
		/* border: solid red 1px; */
		height: 8%;
		cursor: pointer;
	
	}

	.card_tamaños {
		width: calc(50%);
	}

	.card-body {
		/* min-height: 410px; */
		
		display: flex;
		flex-direction: column;

		position: relative;
	}

	.card-body ul {
		margin-top: 3%;
	}

	.btn_ver_mas {
		
		width: 90%;
		padding: 2%;
	}

	.pasajes_50_porciento{
		margin-bottom: 15%;
	}

	.card-body {
		/* min-height: 410px; */
		
		display: flex;
		flex-direction: column;

		position: relative;
	}

	.card-body ul {
		margin-top: 3%;
	}

	.btn_ver_mas {
		
		width: 90%;
		padding: 2%;
	}
}

@media (min-width: 1200px) and (max-width: 1399px){

	.banner2 {
		min-height: 1000px;
		background-image: url(../img/banners/bnnerweb.jpg);
		background-position: center;
		background-size: cover;
	}

	.contenedor_icono_valija{
		width: 10%;
	}
	
	.contenedor_icono_valija img{
		width: 100%;
	}

	.copy-button {
		position: absolute;
        bottom: 16%;
        left: 57.5%;
        width: 35.5%;
        /* border: solid red 1px; */
        height: 10%;
        cursor: pointer;
    }


	.contenedor_titulo_50{
		width: 100%;
		height: 70px;
		
		background-image: url(../img/iconos/titulo_50.svg);
		background-repeat: no-repeat;
		background-position: center;
		background-size: contain;
	
	}
	.contenedor_titulo_30{
		width: 100%;
		height: 70px;
		
		background-image: url(../img/iconos/titulo_30.svg);
		background-repeat: no-repeat;
		background-position: center;
		background-size: contain;
	
	}
	.contenedor_titulo_20{
		
		width: 100%;
		height: 70px;
		
		background-image: url(../img/iconos/titulo_20.svg);
		background-repeat: no-repeat;
		background-position: center;
		background-size: contain;
	
	}

	.titulos {
		color: whitesmoke;
		text-shadow: 1px 1px 1px black;
		font-size: 3.5rem;

	}

	.titulos_span {
		color: whitesmoke;
		text-shadow: 2px 3px 1px #ff00c3;
		font-size: 3.5rem;

	}

	.subtitulos {
		color: whitesmoke;

		font-size: 2rem;

	}

	.ibis{
		font-size:  1.48rem;
	}

	.porcentajes {
		border: blue 1px solid;
		height: 300px;
		width: calc(33.33% - 40px);
		margin: 20px;
	}

	.contenedor_card {
		width: 100%;
		margin: 0 auto;

		transition: transform 0.3s ease;
	}

	.contenedor_card:hover {
		transform: scale(1.04);

	}

	.card-body {
		/* min-height: 410px; */
		
		display: flex;
		flex-direction: column;

		position: relative;
	}

	.ibis{
		font-size: 1.25rem;
	}

	.card-body ul {
		margin-top: 3%;
	}

	.btn_ver_mas {
		
		width: 90%;
		padding: 2%;
	}

	.banner {
		width: 100%;


		position: relative;
	}

	.banner img {
		width: 100%;
		height: 100%;
	}

	#text-to-copy {
		display: none;
	}




	.alert {
		position: absolute;
		top: -30%;
		left: 50%;
		transform: translate(-50%, -50%);
		padding: 10px;
		background-color: #28a745;
		color: white;
		border-radius: 5px;
		z-index: 1000;
		transition: opacity 0.5s;
	}

	.alert.hide {
		opacity: 0;
	}

	.pasajes_50_porciento {
		box-shadow: 1px 2px 1px #00000059;
		width: calc(50% - 20px);
		height: 100%;
		padding: 0;
		margin: 10px;
		transition: transform 0.3s ease;
		overflow: hidden;
	}



	.pasajes_50_porciento:hover {

		transform: scale(1.04);
	}

	.contenedor_img_bodega {
		width:70%;
		height: 100%;
		box-shadow: 1px 2px 1px #00000059;
		margin: 0 auto;
	}

	.contenedor_img_bodega img {
		width: 100%;
	}

	.contenedor_img_bodega {

		transition: transform 0.3s ease;
		overflow: hidden;
	}

	.contenedor_img_bodega:hover {

		transform: scale(1.04);
	}

	.card_tamaños{
		width: calc(33.33%);
		
	}
}

@media (min-width: 1400px) {

	.card_tamaños{
		width: calc(33.33%);
		
	}
	.banner2 {
		min-height: 1000px;
		background-image: url(../img/banners/bnnerweb.jpg);
		background-position: center;
		background-size: cover;
	}

	.contenedor_icono_valija{
		width: 10%;
	}
	
	.contenedor_icono_valija img{
		width: 100%;
	}

	.copy-button {
		position: absolute;
        bottom:15%;
        left: 54.5%;
        width: 29.5%;
       /*  border: solid red 1px;  */
        height: 10%;
        cursor: pointer;
    }


	.contenedor_titulo_50{
		width: 100%;
		height: 70px;
		
		background-image: url(../img/iconos/titulo_50.svg);
		background-repeat: no-repeat;
		background-position: center;
		background-size: contain;
	
	}
	.contenedor_titulo_30{
		width: 100%;
		height: 70px;
		
		background-image: url(../img/iconos/titulo_30.svg);
		background-repeat: no-repeat;
		background-position: center;
		background-size: contain;
	
	}
	.contenedor_titulo_20{
		
		width: 100%;
		height: 70px;
		
		background-image: url(../img/iconos/titulo_20.svg);
		background-repeat: no-repeat;
		background-position: center;
		background-size: contain;
	
	}

	.titulos {
		color: whitesmoke;
		text-shadow: 1px 1px 1px black;
		font-size: 3.5rem;

	}

	.titulos_span {
		color: whitesmoke;
		text-shadow: 2px 3px 1px #ff00c3;
		font-size: 3.5rem;

	}

	.subtitulos {
		color: whitesmoke;

		font-size: 2rem;

	}

	.ibis{
		font-size:  1.48rem;
	}

	.porcentajes {
		border: blue 1px solid;
		height: 300px;
		width: calc(33.33% - 40px);
		margin: 20px;
	}

	.contenedor_card {
		width: 100%;
		margin: 0 auto;

		transition: transform 0.3s ease;
	}

	.contenedor_card:hover {
		transform: scale(1.04);

	}

	/* .card-body {
		/* min-height: 410px; 
		min-height: 410px;
		display: flex;
		flex-direction: column;

		position: relative;
	} */
	.card-body {
		/* min-height: 410px; */
		
		display: flex;
		flex-direction: column;

		position: relative;
	}

	.card-body ul {
		margin-top: 3%;
	}


	/* .btn_ver_mas {
		margin-top: 45px;

		position: absolute;
		top: 80%;
		left: 1%;
		width: 90%;
		padding: 2%;
	} */
	.btn_ver_mas {
		
		width: 90%;
		padding: 2%;
	}

	.banner {
		width: 100%;


		position: relative;
	}

	.banner img {
		width: 100%;
		height: 100%;
	}

	#text-to-copy {
		display: none;
	}




	.alert {
		position: absolute;
		top: -30%;
		left: 50%;
		transform: translate(-50%, -50%);
		padding: 10px;
		background-color: #28a745;
		color: white;
		border-radius: 5px;
		z-index: 1000;
		transition: opacity 0.5s;
	}

	.alert.hide {
		opacity: 0;
	}

	.pasajes_50_porciento {
		box-shadow: 1px 2px 1px #00000059;
		width: calc(50% - 20px);
		height: 100%;
		padding: 0;
		margin: 10px;
		transition: transform 0.3s ease;
		overflow: hidden;
	}



	.pasajes_50_porciento:hover {

		transform: scale(1.04);
	}

	.contenedor_img_bodega {
		width:70%;
		height: 100%;
		box-shadow: 1px 2px 1px #00000059;
		margin: 0 auto;
	}

	.contenedor_img_bodega img {
		width: 100%;
	}

	.contenedor_img_bodega {

		transition: transform 0.3s ease;
		overflow: hidden;
	}

	.contenedor_img_bodega:hover {

		transform: scale(1.04);
	}

	.h2_navega{
		font-size: 3rem;
	}




}